@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');
* {
    box-sizing: border-box;
}

main {
    min-height: 100dvh;
    width: 100dvw;
    position: relative;
    overflow: hidden;
    top: 0;
    left: 0;
    display: flex;
}

.main-content {
    display: flex;
    position: relative;
    transition: opacity 1s linear;
    transform: translateX(calc(-100dvw * var(--active-section)));
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 100dvw;
    height: 100dvh;
    padding: 0rem 20rem;
    gap: 2.5rem;
    z-index: 1;
}

.home-info-wrapper {
    display: flex;
    align-items: center;
}

.home-text {
    font-family: 'Doto', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
}

.home-section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(21,23,27);
    background: linear-gradient(0deg, rgba(21,23,27,1) 0%, rgba(9,9,121,1) 38%, rgba(0,97,212,1) 100%);
    z-index: -1;
    opacity: 0.2;
}

.aboutme-section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(21,23,27);
    background: linear-gradient(0deg, rgba(21,23,27,1) 0%, rgba(100,34,115,1) 38%, rgba(212,0,193,1) 100%);
    z-index: -2;
    opacity: 0.2;
}

.contact-section-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(21,23,27);
    background: linear-gradient(180deg, rgba(21,23,27,1) 0%, rgba(87,36,135,1) 38%, rgba(157,0,254,1) 100%);
    z-index: -3;
    opacity: 0.2;
}

.home,
.about-me,
.contact {
    opacity: 0;
    
}

.home-image {
    
}

.channel-icon {
    height: 100%;
    width: 400px;
    border-radius: 50%;
    object-fit: cover;
    animation: border-opacity 1.5s 1s alternate-reverse infinite;
}

@keyframes border-opacity {
    0% {
        border: 8px solid rgba(116, 74, 255, 0.386);
    }
    100% {
        border: 8px solid rgba(116, 74, 255, 0);
    }
}

.about-me {
    display: flex;
    justify-content: center;
    min-width: 100dvw;
    height: 90dvh;
    align-items: center;
}

.main-aboutme {
    display: flex;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-row: 200px;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
    z-index: 1;
}

.main-aboutme h2 {
    margin: 0;
    font-size: 3rem;
}

.interests-list {
    display: flex;
    gap: 2rem;
}

/* .first {
    grid-area: 1 / 1 / 2 / 3;
}

.second {
    grid-area: 2 / 2 / 3 / 4;
}

.third {
    grid-area: 3 / 3 / 4 / 5;
} */

.contact {
    display: flex;
    min-width: 100dvw;
    height: 100dvh;
}

.main-contact {
    height: 100dvh;
    width: 100dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    z-index: 1;
}

.contact-title {
    margin: 0;
    font-size: 4rem;
}

.social-wrapper {
    display: flex;
    gap: 1rem;
}

.show {
    transition: all 2s ease;
    opacity: 1;
}

.social-icon {
    width: 4rem;
    height: 4rem;
}

.social-icon:hover {
    cursor: pointer;
    scale: 1.2;
}