* {
    box-sizing: border-box;
}

.scroll-wrapper {
    width: 100dvw;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    padding-bottom: 2rem;
    z-index: 99999;
}

.scroll-main {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: .5rem;
    margin: auto;
    transform: translateX(calc(100dvw * var(--active-section)));
}

.section-button-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
}

.section-button {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    
}

.section-button:disabled img{
    cursor: default;
    opacity: 0;
    transition: all .2s linear;
}


.markers-wrapper {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

.section-marker {
    display: flex;
    content: '';
    width: 15px;
    height: 15px;
    border-radius: 100%;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.section-marker span {
    display: block;
    width: 10px;
    height: 10px;
    background-color: aliceblue;
    border-radius: 50%;
}

.active span{
    width: 15px;
    height: 15px;
}

.section-button img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}