.select-language-wrapper {
    position: relative;
}

.select-language {
    background-color: rgb(32, 32, 32);
    border: 1px solid white;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: .2rem;
    padding: .2rem;
}

.languages-options-wrapper {
    position: absolute;
    background-color: aliceblue;
    border: 1px solid white;
    width: 72px;
}

.language-option {
    height: 50px;
    background-color: rgb(32, 32, 32);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 1.5rem;
    color: white;
}

.language-option:hover {
    background-color: black;
    cursor: pointer;
}